
body {
    background-color: #170A1C;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.5px;

}
h1 {
    /* background-color: #84BCDA; */
    color:  #C19AB7;
    text-align: center;
    padding: 15px;
    margin-bottom: -10px;
    /* font-family: 'Lilita One', cursive; */
    font-family: 'Staatliches', cursive;
    font-size: 47px;
   
}

#button-area {
    background-color: #84BCDA;
    padding: 10px;
    border-bottom: 10px solid #228CDB;
}

.show-button {
    background-color: #0B7189;
    letter-spacing: 1.5px;
}

.show-button:hover {
    background-color: #C19AB7;
}

#add-show {
    background-color: #C19AB7;
    letter-spacing: 1.5px;
}

#add-show:hover {
    background-color: #0B7189;
}


#display-area {
    position: relative;
}

.gif-area {
    position: relative;
    float: left;
    margin: 10px;
    border-radius: 8px;
}

#search-bar {
    margin: 15px;
    width: 90%;
}

#search-text {
    margin: 15px;
    margin-top: 20px;
    font-size: 20px;
}

.title {
    text-transform: capitalize;
}


